<header class="sm-header" data-bs-theme="light">
    <div class="sm-header-warper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 d-flex align-items-center justify-content-start">
            <a
              class="logo d-flex align-items-center justify-content-center"
              href="#"
              ><i class="bi bi-brightness-high-fill"></i>
              <span>DEV</span>FLOW</a
            >
          </div>
          <div class="col-4 d-flex justify-content-end">
            <span id="hamburMenuIcon"><i class="bi bi-list"></i></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="sm-nav-bar">
    <span id="hamburMenuIconClose"><i class="bi bi-x"></i></span>
    <a class="logo d-flex align-items-center justify-content-center" href="#"
      ><i class="bi bi-brightness-high-fill"></i> <span>DEV</span>FLOW</a
    >
    <nav class="navbarCustom">
      <ul>
        <li>
          <a class="active" href="#"
            ><i class="bi bi-house"></i><span>Home</span></a
          >
        </li>
        <li>
          <a href="#"><i class="bi bi-people"></i><span>Community</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-star"></i><span>Collections</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-tag"></i><span>Tags</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-person"></i><span>Profile</span></a>
        </li>
        <li>
          <a href="#"
            ><i class="bi bi-question-square"></i
            ><span>Ask a question</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
  <header class="lg-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 d-flex align-items-center justify-content-start">
          <a
            class="logo d-flex align-items-center justify-content-center"
            href="#"
            ><i class="bi bi-brightness-high-fill"></i>
            <span>DEV</span>FLOW</a
          >
        </div>
        <div class="col-md-6">
          <form action="#" method="get">
            <div class="search-box" id="global-search">
              <i class="bi bi-search"></i>
              <input type="text" placeholder="Search globally" />
            </div>
          </form>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
          <div
            class="profile d-flex align-items-center justify-content-center"
          >
            <a href="#">
              <img
                src="https://static.vecteezy.com/system/resources/thumbnails/005/346/410/small_2x/close-up-portrait-of-smiling-handsome-young-caucasian-man-face-looking-at-camera-on-isolated-light-gray-studio-background-photo.jpg"
                alt="img"
                class=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <aside class="left-sidebar bg-white">
    <nav class="navbarCustom">
      <ul>
        <li>
          <a class="active" href="#"
            ><i class="bi bi-house"></i><span>Home</span></a
          >
        </li>
        <li>
          <a href="#"><i class="bi bi-people"></i><span>Community</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-star"></i><span>Collections</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-tag"></i><span>Tags</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-person"></i><span>Profile</span></a>
        </li>
        <li>
          <a href="#"
            ><i class="bi bi-question-square"></i
            ><span>Ask a question</span></a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <!-- <div class="question-area"></div> -->
    <div *ngFor="let post of posts" class="w-100 d-flex justify-content-center">
      <div class="post-card mt-2 bg-white">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar"><img src="{{post.appUser.profilePictureUrl}}" alt=""></div>
            <div>
                <strong>{{post.appUser.fullName}}</strong>
                <p class="text-muted mb-0" style="font-size: 12px;">2 hours ago</p>
            </div>
          </div>
          <div>
            <div class="dropdown">
              <button class="btn .post-dropdown-btn dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
                <li><a class="dropdown-item" href="#">Share</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="post-content">
            <article>
              {{post.content}}
            </article>
            
            <!-- If exactly 2 images, show side by side with small gap -->

            <div class="image-container" *ngIf="post.imageUrl">
                <img [src]="post.imageUrl" alt="Post Image 1" class="img-fluid">
            </div>
  
            <!-- If more than 3 images, use a carousel (slider) showing 2 images per slide -->
            <!-- <div id="imageCarousel" class="carousel slide mt-3" data-bs-ride="carousel"> -->
                <!-- <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="image-container">
                            <img src="https://ih1.redbubble.net/image.4740095160.8803/raf,360x360,075,t,fafafa:ca443f4786.jpg" class="d-block" alt="Image 3">
                            <img src="https://ih1.redbubble.net/image.4740095160.8803/raf,360x360,075,t,fafafa:ca443f4786.jpg" class="d-block" alt="Image 4">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="image-container">
                            <img src="https://ih1.redbubble.net/image.4740095160.8803/raf,360x360,075,t,fafafa:ca443f4786.jpg" class="d-block" alt="Image 5">
                            <img src="https://ih1.redbubble.net/image.4740095160.8803/raf,360x360,075,t,fafafa:ca443f4786.jpg" class="d-block" alt="Image 6">
                        </div>
                    </div>
                </div> -->
        </div>
        <div class="d-flex justify-content-between mt-3 text-muted">
          <div class="d-flex align-content-center gap-2">
            <app-like [post]="post"></app-like>
            <div>
              <button class="btn"><i class="bi bi-chat-left"></i></button>
              <span>{{post.commentCount}}</span>
            </div>
              <form>

                <button class="btn"><i class="bi bi-bookmark-fill"></i></button>
                <span>{{post.favoriteCount}}</span>
              </form>
          </div>
            <div>
              <button class="btn"><i class="bi bi-share"></i></button>
            </div>
        </div>
      </div>
    </div>
  </main>
  <aside class="right-sidebar bg-white">
    <div class="topquestion-area">
      <h4>Top Question</h4>
      <div class="tpquestion-wraper"></div>
    </div>
    <div class="popular-tag-area">
      <h4>Popular Tags</h4>
      <div class="pptag-warper"></div>
    </div>
  </aside>