.post-dropdown-btn{
    outline: none;
    border: none;
}

.btn.show{
    border: none !important;
}

.dropdown-toggle::after{
    display: none;
}
.post-card {
    width: 500px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0px rgba(0,0,0,.2);
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    margin-right: 10px;
}
.post-images img {
    width: 100%;
    border-radius: 8px;
}
.image-container {
    display: flex;
    gap: 4px; /* Reduced gap */
}
.image-container img {
    flex: 1;
    height: 180px;
    object-fit: cover;
}
.carousel-item .image-container {
    margin: 0 auto;
    width: 100%;
}

/*Comment Design*/

.comment-area {
    border-top: 1px solid #ededed;
    margin-top: 10px;
    padding: 10px;
}


