<header class="sm-header" data-bs-theme="light">
    <div class="sm-header-warper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 d-flex align-items-center justify-content-start">
            <a
              class="logo d-flex align-items-center justify-content-center"
              routerLink = "/"
              ><i class="bi bi-brightness-high-fill"></i>
              <span>DEV</span>FLOW</a
            >
          </div>
          <div class="col-4 d-flex justify-content-end">
            <span id="hamburMenuIcon"><i class="bi bi-list"></i></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="sm-nav-bar">
    <span id="hamburMenuIconClose"><i class="bi bi-x"></i></span>
    <a class="logo d-flex align-items-center justify-content-center" href="#"
      ><i class="bi bi-brightness-high-fill"></i> <span>DEV</span>FLOW</a
    >
    <nav class="navbarCustom">
      <ul>
        <li>
          <a class="active" href="#"
            ><i class="bi bi-house"></i><span>Home</span></a
          >
        </li>
        <li>
          <a href="#"><i class="bi bi-people"></i><span>Community</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-star"></i><span>Collections</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-tag"></i><span>Tags</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-person"></i><span>Profile</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <header class="lg-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 d-flex align-items-center justify-content-start">
          <a
            class="logo d-flex align-items-center justify-content-center"
            routerLink="/"
            ><i class="bi bi-brightness-high-fill"></i>
            <span>DEV</span>FLOW</a
          >
        </div>
        <div class="col-md-6">
          <form action="#" method="get">
            <div class="search-box" id="global-search">
              <i class="bi bi-search"></i>
              <input type="text" placeholder="Search globally" />
            </div>
          </form>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
          <div
            class="profile d-flex align-items-center justify-content-center"
          >
            <a href="#">
              <img
                src="https://static.vecteezy.com/system/resources/thumbnails/005/346/410/small_2x/close-up-portrait-of-smiling-handsome-young-caucasian-man-face-looking-at-camera-on-isolated-light-gray-studio-background-photo.jpg"
                alt="img"
                class=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
