<aside class="left-sidebar bg-white">
    <nav class="navbarCustom">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            <i class="bi bi-house"></i><span>Home</span>
        </a>
        </li>
        <li>
          <a routerLink="/community"  routerLinkActive="active"><i class="bi bi-people"></i><span>Community</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-star"></i><span>Collections</span></a>
        </li>
        <li>
          <a routerLink="/inbox" routerLinkActive="active"><i class="bi bi-tag"></i><span>Messages</span></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-person"></i><span>Profile</span></a>
        </li>
      </ul>
    </nav>
  </aside>
